[DEFAULT]
messaging_transport_url=rabbit://{{ rabbitmq_user }}:{{ rabbitmq_password }}@{{ rabbitmq_host }}:{{ rabbitmq_port }}/
log_dir=/var/log/coriolis
debug={{ coriolis_debug }}

logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s [01;35m%(instance)s[00m
logging_debug_format_suffix = [00;33mfrom (pid=%(process)d) %(funcName)s %(pathname)s:%(lineno)d[00m
logging_default_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[00;36m-%(color)s] [01;35m%(instance)s%(color)s%(message)s[00m
logging_context_format_string = %(asctime)s.%(msecs)03d %(color)s%(levelname)s %(name)s [[01;36m%(request_id)s [00;36m %(color)s] [01;35m%(instance)s%(color)s%(message)s[00m

providers=coriolis_provider_openstack.ExportProvider,coriolis_provider_openstack.ImportProvider,coriolis_provider_vmware_vsphere.ExportProvider,coriolis_provider_oracle_vm.ImportProvider,coriolis_provider_opc.ImportProvider,coriolis_provider_aws.ExportProvider,coriolis_provider_azure.ImportProvider

[database]
connection = mysql://{{ coriolis_database_name }}:{{ coriolis_database_password }}@{{ database_address }}/{{ coriolis_database_name }}

[keystone_authtoken]
auth_type = password
auth_uri = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default
project_name = service
project_domain_id = default

[trustee]
auth_type = password
auth_url = {{ admin_protocol }}://{{ keystone_host }}:{{ keystone_admin_port }}/v3
username = {{ coriolis_keystone_user }}
password = {{ coriolis_keystone_password }}
user_domain_id = default

[keystone]
auth_url = {{ internal_protocol }}://{{ keystone_host }}:{{ keystone_public_port }}

[worker]
export_base_path = {{ coriolis_export_base_path }}

[aws_migration_provider]
# Mapping between AWS regions and the ID of subnets in which to boot
# the disk copy workers. The subnet must have a security group rule
# to allow TCP ingress on port 22.
worker_subnet_map = us-west-2: subnet-2551c740

# Mapping between AWS regions and the ID of an Ubuntu 14.04 AMI
# to be used as an image for the disk copy workers.
# The AMIs must have cloud-init configured for an initial run.
worker_ami_map = us-west-2: ami-50946030

# Name of the instance type to be used for the disk copy workers.
# Default is t2.medium.
worker_instance_type = t2.medium

# Migrating requires the machine to be off on AWS. If set to true,
# Coriolis will power off the machine itself before the migration,
# else, Coriolis will error and ask the user to stop the instance.
shutdown_migrated_instance = false

# URL of a csv file containing the information of the instance types
# available on AWS. Can also be a local file URL of the form
# 'file:///home/user/aws_instance_types.csv'
# An updated file may be retrieved from http://www.ec2instances.info
instance_types_csv_url = http://pastebin.com/raw/YbuQE64m

[openstack_migration_provider]
### Export parameters:
glance_api_version = 1
volume_backups_container = coriolis
allow_untrusted_swift = false
# can be qcow, qcow2, raw, vmdk, vhd, vhdx:
intermediate_volume_format = qcow2

### Import parameters:
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate image names or IDs will need to be provided
# for the temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_image_map = linux: 283bdce4-112c-4758-b06a-7e5985a9cd15, windows: Windows Server 2012 R2 Std Eval

list_all_destination_networks = false
volumes_are_zeroed = true
hypervisor_type = kvm
delete_disks_on_vm_termination = true
# default_security_groups = secgroup1, secgroup2
migr_network = private
migr_worker_use_fip = true
migr_fip_pool_name = public
migr_flavor_name = m1.small
migr_worker_use_config_drive = false
glance_upload = true
disk_format = qcow2
container_format = bare
set_dhcp = true

# Parameters realted to the OSMorphing process for Windows instances:
windows_virtio_iso_url = https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.iso
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x64.zip
cloudbaseinit_x86_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x86.zip

[oracle_vm_migration_provider]
# If migrating/replicating a heterogeneous workload with both Linux and
# Windows instances, separate template names will need to be provided for the
# temporary OSMorphing workers for each OS type.
# The 'linux' image will be used for the disk copy worker during the replica
# execution process as well
# Only accepted keys are 'linux' and 'windows'
migr_template_name_map = linux: OracleLinux7_template, windows: WS2016_template
migr_template_username = root
migr_template_password = coriolis
migr_network_name = Management
server_pool_name = pool1
repository_name = repo1
# Can be 'keep_mac', 'reuse_ports' or 'replace_mac'
port_reuse_policy = keep_mac
# virtual_disk_clone_type can be: THIN_CLONE, SPARSE_COPY, NON_SPARSE_COPY
virtual_disk_clone_type = THIN_CLONE
windows_pv_drivers_url = https://cloudbase.it/downloads/ovm_win_pv_drivers_all_323.zip

[opc_migration_provider]
# Linux and Windows images for the temporary Worker VMs:
migr_image_name_map = linux: /oracle/public/OL_7.2_UEKR4_x86_64, windows: /Compute-a488347/gsamfira@cloudbasesolutions.com/Windows_2012_R2

# The shape to use for the migration Worker VMs:
migr_shape_name = oc3

# If this option is used, please disable clone disks when deploying form replica
# colocated snapshots are faster, but they create a dependency chain
# parent volume --> snapshot --> restored volume
# only the top level object can be deleted.
use_colocated_snapshots = true

# URL of a zip file with the Windows PV drivers:
windows_pv_drivers_url = https://cloudbase.it/downloads/ovm_win_pv_drivers_all_323.zip

[azure_migration_provider]
# The location to which to migrate
migr_location = westus

# The size which to default to for the migrated instance in case 'vm_size' is
# not specified in the --destination-environment
default_vm_size = Standard_A1

# The images to use for temporary worker VMs:
linux_migr_image = version: latest, publisher: Canonical, offer: UbuntuServer, sku: 14.04.0-LTS
windows_migr_image = version: latest, publisher: MicrosoftWindowsServer, offer: WindowsServer, sku: 2016-Datacenter-Server-Core

# The size which to default to for migration workers
default_worker_size = Standard_D1

# Mapping between the number of volumes a size can have attached and its name
# Default is:
# worker_volume_count_to_size_map = 2: Standard_D1, 4: Standard_D2, 8: Standard_D3

# Cloudbase-init Zip URLs for each supported Windows architecture:
cloudbaseinit_x86_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x86.zip
cloudbaseinit_x64_url = https://www.cloudbase.it/downloads/CloudbaseInitSetup_x64.zip

[serialization]

temp_keypair_password = {{ temp_keypair_password }}

[proxy]
# url = http://proxy:3128
# Optional proxy credentials
# username =
# password =
# Optional comma separated list of proxy exclusions
# no_proxy =
